<div class="container">
	<div class="jumbotron">
		<h1 style="text-align: center;">Agents GUI</h1> 
	</div>
</div>

<div style="text-align:center">

<p>Get all agent types: <button type="button" class="btn btn-primary" (click)="onClickTypes($event)">Types</button></p>

<p>Get all running agents: <button type="button" class="btn btn-primary" (click)="onClickRunning($event)">Running agents</button></p>

<p>Get list of performatives: <button type="button" class="btn btn-primary" (click)="onClickPerf($event)">Performatives</button></p>

<p>Run an agent: <select #runAgent><option *ngFor="let type of this.ws.agentTypes" value="{{type.module + '$' + type.name}}">{{type.name}}@{{type.module}}</option></select><input #newAgentName type="text"><button type="button" class="btn btn-primary" (click)="onClickRun($event, runAgent.value, newAgentName.value)">Run</button></p>

<p>Stop an agent: <select #stopAgent><option *ngFor="let agent of this.ws.runningAgents" value="{{agent.name + '$' + agent.host.alias + '$' + agent.host.address + '$' + agent.type.name + '$' + agent.type.module}}">{{agent.name}}@{{agent.type.name}}</option></select> 
<button type="button" class="btn btn-primary" (click)="onClickStop($event, stopAgent.value)">Stop</button></p>

<p>Send a message:</p> 
<p>Sender: <select #senderagent><option *ngFor="let agent of this.ws.runningAgents" value="{{agent.name + '$' + agent.host.alias + '$' + agent.host.address + '$' + agent.type.name + '$' + agent.type.module}}">{{agent.name}}@{{agent.type.name}}</option></select></p>
<p>Receivers: <select #receiveragent multiple><option *ngFor="let agent of this.ws.runningAgents" value="{{agent.name + '$' + agent.host.alias + '$' + agent.host.address + '$' + agent.type.name + '$' + agent.type.module}}">{{agent.name}}@{{agent.type.name}}</option></select></p>
<p>Performative: <select #performativemsg><option *ngFor="let performative of this.ws.performatives" value={{performative}}>{{performative}}</option></select></p>
<p>Reply to: <select #replytomsg><option *ngFor="let agent of this.ws.runningAgents" value="{{agent.name + '$' + agent.host.alias + '$' + agent.host.address + '$' + agent.type.name + '$' + agent.type.module}}">{{agent.name}}@{{agent.type.name}}</option></select></p>
<p>Content: <input #contentmsg type="text" style="width: 400px;"></p>
<p>Language: <input #languagemsg type="text" ></p>
<p>Encoding: <input #encodingmsg type="text"></p>
<p>Ontology: <input #ontologymsg type="text"></p>
<p>Protocol: <input #protocolmsg type="text"></p>
<p>Conversation id: <input #convmsg type="text"></p>
<p>Reply with: <input #replywithmsg type="text"></p>
<p>In reply to: <input #inreplytomsg type="text"></p>
<p>Reply by: <input #replybymsg type="text"></p>
<br>
<button type="button" class="btn btn-primary" (click)="onClickSend($event, senderagent.value, receiveragent.selectedOptions, performativemsg.value, replytomsg.value, contentmsg.value, languagemsg.value, encodingmsg.value, ontologymsg.value, 
protocolmsg.value, convmsg.value, replywithmsg.value, inreplytomsg.value, replybymsg.value)">Send</button>
<br>
<br>
<p>Console:</p>
<textarea id="txtarea" readonly rows="10" cols="100"></textarea>
<p><button type="button" class="btn btn-primary" (click)="onClickClear($event)">Clear console</button></p>

</div>


<router-outlet></router-outlet>
